/* Add CSS Styling */
.odd {
    background-color: rgb(255, 188, 201);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.big {
    font-size: 24px;
}

#Nb2 {
    color: rgb(40, 40, 200);
    font-size: 36px;
}

#Nb4 {
    background-color: rgb(186, 248, 167);
    font-size: 24px;
    font-weight: 800;
}