/* Add CSS Styling */
.button,
.inverted{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.inverted{
    background-color: yellow;
}